**Instructor : Ignatus Nunana Dorvi**

Objectives

1. Exploring Python libraries for data analysis
2. Read data from multiple sources - csv, excel
3. Cleaning and transforming data
4. Visualisation and plots

**Overview**

1. What is Data?
2. What is Data Analysis?

---



---

Data Analytics tools
1. Open Tools/ programming languages
 - Python
 - R
 -Julia

 2. Closes source/ Auto-Managesd Tools
 - Excel
 -Tableau

Why Python for data Analysis?

In [ ]:
print("Hello world")

**Process of Data Analysis**

A. Data extraction:
   1. Database & API
   2. curation - Manual, scrapping
   3 Formats:
      Comma-separated values (CSV),
      EXCEL, JavaScript Object Notation (JSON),
      Extensible Markup Language (XML)


---



B. Data Cleaning
  1. Irrelevant data & outliers
  2. Missing & empty data
  3. Incorrect types



---


c. Data Wrangling
  1. Handling Categorical data
  2. Dropping, Merging & joining data
  3. Reshaping & transforming structures
  4. Indexing & rearranging



---


D. Data Analysis - extract patterns in data
  1. Exploration
  2. Visualisations- plots, graphs
  3. Correlation



---


E. Building
   1. Building statistical & predictive models- Machine learning, pipelines
   2. Reporting & communication of results

Libraries and tools

1. Pandas - Main data manipulation tool
2. Matplotlib & Seaborn - Visualisation and plots
3. Numpy - Numerical library for calculations
4. Scipy - scientific computing; linear algeria, image processing
5. Scikit-learn - Machine learning library

Import required Libaries

In [ ]:
#Install a tool: !pip install ...

In [ ]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt

%matplotlib inline

Import Data

In [ ]:
data = pd.read_csv("/content/Student Performance dataset.csv") #read_csv

Import an excel file using pandas

In [ ]:
#How do I import an excel file using pandas?

# your code goes here

Display data

In [ ]:
data.head()  #displays first five rows of data

In [ ]:
data.head(10)

In [ ]:
data.tail() #displays last five rows of data

In [ ]:
data.shape

In [ ]:
data.info() # data summary

In [ ]:
data.describe()

Features with NAN values

In [ ]:
data.isnull().sum()

Remove Rows with NaN Values

In [ ]:
# Remove rows with NaN values
data = data.dropna()

In [ ]:
data.isnull().sum()

In [ ]:
data.shape

In [ ]:
# Replace missing values with mean, median, max, min of each feature

In [ ]:
# your codes here

In [ ]:
data['Math'].fillna(data['Math'].mean())

Extract all numeric columns

In [ ]:
# select numeric columns
numeric_cols = data.select_dtypes(include=['int', 'float'])
numeric_cols

In [ ]:
data['Gender']  # aceess columns in data

Determine the mean, std, count and the median of subclasses in Gender, Lunch and Study group

In [ ]:
# your code goes here

In [ ]:
data['Gender'].describe()

In [ ]:
data['Insert feature'].mean()
data['Insert feature'].median()
data['Insert feature'].mean()

Data wrangling

In [ ]:
data

In [ ]:
#Adding a column to create new column
data['Total_score'] = data['Math'] + data['Reading '] + data['Writing']
data

Create a new column called average by finding the average of math and writing

In [ ]:
#your codes here

Select specific colums when conditions are met

In [ ]:
data.loc[data['Study group'] == 'group B'] #Get all the students in study group B

In [ ]:
data.loc[data['Lunch'] == 'standard'].mean()

Analysing Categorical Features

In [ ]:
data['Gender'].value_counts()

Convert Categorical features to numeric

1. One-Hot Encoding:

2. Label Encoding

One-Hot Encoding generates several binary columns, according to the number of distinct categories, whereas Label Encoding only generates a single column for the categorical variable

In [ ]:
# Create a mapping for label encoding
mapp = {'female': 0, 'male': 1}

# Apply label encoding
data['Gender'] = data['Gender'].map(mapp)

In [ ]:
data

In [ ]:
#write codes using one-hot encoding method to convert Study group to numeric

In [ ]:
#your codes here

PLOTS

In [ ]:
data['Gender'].value_counts().plot(kind='pie', figsize=(6,6))  #pie plot

Scatter plots

In [ ]:
data.plot(kind='scatter', x='Math', y='Reading ', figsize=(6,6))

In [ ]:
data['Reading '].value_counts()

In [ ]:
ax = data['Study group'].value_counts().plot(kind='bar', figsize=(14,6))
ax.set_ylabel('frequency')
ax.set_xlabel('study Groups')
ax.set_title('A bar plot of study group')

Correlation plots

In [ ]:
corr = data.corr()
corr

In [ ]:
fig = plt.figure(figsize=(8,8))
plt.matshow(corr, cmap='RdBu', fignum=fig.number)
plt.xticks(range(len(corr.columns)), corr.columns, rotation='vertical');
plt.yticks(range(len(corr.columns)), corr.columns);